<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dino.sismul">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VelociraptorActivity"></activity>
        <activity android:name=".TriceraptorsActivity" />
        <activity android:name=".StegosaurusActivity" />
        <activity android:name=".SpinosaurusActivity" />
        <activity android:name=".PteranodonActivity" />
        <activity android:name=".PlesiosaurusActivity" />
        <activity android:name=".ParasaurolopusActivity" />
        <activity android:name=".IguanadonActivity" />
        <activity android:name=".HypsilophodonActivity" />
        <activity android:name=".DeinonychusActivity" />
        <activity android:name=".BrachiosaurusActivity" />
        <activity android:name=".AnkylosaurusActivity" />
        <activity android:name=".AllosaurusActivity" />
        <activity android:name=".RhamphorhynchusActivity" />
        <activity android:name=".View.HasilQuiz" />
        <activity android:name=".View.QuisActivity" />
        <activity
            android:name=".View.EnsiklopediActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity android:name=".View.HomeActivity" />
        <activity android:name=".View.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>